.post-form{

    display: flex;
    flex-direction: column;

}
.form-div{
    width: 50%;
    text-align: left;
    margin: 15px;
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 15px;
}